{% extends 'layout.html.twig' %}

{% block title %}
    Eliminar tema
{% endblock %}

{% block content %}
    <h1>Eliminar respuesta</h1>

    <div class="alert alert-warning">
        ¿Seguro que desea eliminar la respuesta? Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('respuesta_form', {'id': respuesta.id}) }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver a la respuesta</a>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar la respuesta</button>
    </form>
{% endblock %}


