{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
        <a class="navbar-brand" href="{{ path('portada') }}"><i class="fas fa-comments"></i> Foro</a>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="{{ path('portada') }}"><i class="fas fa-home"></i> Portada</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('categoria_listar') }}"><i class="fas fa-bars"></i> Categorías</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('usuario_listar') }}"><i class="fas fa-user-friends"></i> Usuarios</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
