{% extends 'layout.html.twig' %}

{% block title %}
    Listado de categorías
{% endblock %}

{% block content %}
    <h1>Listado de categorías</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td><a href="{{ path('categoria_temas_listar', {'id': categoria.id}) }}">{{ categoria.nombre }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
